[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:akai-hana/dotfiles.git
[submodule "suckless"]
	path = suckless
	url = git@github.com:akai-hana/suckless.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:akai-hana/scripts.git
[submodule "lenovo-legion"]
	path = lenovo-legion
	url = git@github.com:akai-hana/lenovo-legion.git
[submodule "shader-wallpaper"]
	path = shader-wallpaper
	url = git@github.com:akai-hana/shader-wallpaper.git
[submodule "milk-cursor"]
	path = milk-cursor
	url = git@github.com:akai-hana/milk-chans-cursor.git
